body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-image: url('/img/background/desert.png');
    background-size: cover; /* Skaliert das Bild, damit es den gesamten Bildschirm bedeckt */
    background-position: center; /* Zentriert das Bild */
    background-repeat: no-repeat; /* Verhindert Wiederholungen des Bildes */
    overflow: hidden; /* Verhindert Scrollen, falls das Bild zu groß wäre */
}

canvas {
    background-color: black;
}